.puzzleImage:hover {
    cursor: pointer;
}

.puzzleImage, .previewImage, .largeImage {
    width: 200px;
    border: #720072 solid 3px;
    border-radius: 10px;
}

.puzzleImage {
    margin: 10px;
}

.largeImage {
    width: 500px;
    margin-left: 20px;
    margin-right: 20px;
}

.previewImage {
    width: 250px;
}