.regularButton, .deleteButton, .chooseFileButton {
    display: flex;
    justify-content: center;
    background-color: #ffceb5;
    font-family: "Leelawadee UI", serif;
    font-weight: bold;
    font-size: large;
    color: #720072;
    text-transform: uppercase;
    border-radius: 10px;
    margin: 10px;
    width: 250px;
}

.regularButton, .chooseFileButton {
    border: #ffbf9a solid 3px;
}

.deleteButton {
    border: crimson solid 3px;
}

.regularButton:hover, .deleteButton:hover, .chooseFileButton:hover, .textButton:hover {
    cursor: pointer;
}

.regularButton:disabled {
    background-color: lightgray;
    color: dimgray;
    border-color: dimgray;
}

.textButton {
    background-color: white;
    font-family: "Leelawadee UI", serif;
    font-weight: bold;
    font-size: large;
    color: #e06f2d;
    border: none;
}