.puzzleInfoContainer {
    display: flex;
    flex-direction: row;
    margin-bottom: 20px;
}

.puzzlePageContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #ffceb5;
    border: #e06f2d 2px solid;
    border-radius: 10px;
}

.puzzlePageLeft, .puzzlePageRight {
    margin-right: 20px;
    margin-left: 20px;
}

.puzzleContainer {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
}