.searchFilter {
    margin: 0 10px;
    border: none;
    background-color: transparent;
    font-family: "Leelawadee UI", serif;
    text-transform: uppercase;
    font-size: medium;
    color: #720072;
}

.searchResults {
    display: flex;
    flex-direction: column;
    align-items: center;
}