a {
    text-decoration: none;
    color: #e06f2d;
    font-size: large;
    font-weight: bold;
}

.pageLink {
    color: #ffbf9a;
    text-decoration: none;
    margin-left: 10px;
    margin-right: 10px;
}
