.titleContainer {
    position: relative;
    width: 100%;
    border: #720072 solid;
    border-left-style: none;
    border-right-style: none;
}

.pageTitle {
    display: flex;
    justify-content: center;
}

.pageContent {
    display: flex;
    align-items: center;
    flex-direction: column;
    max-width: 1200px;
    margin: auto;
}

.pageContainer {
    padding: 10px;
}

.formContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.loginHeader {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.sortByContainer {
    display: flex;
    flex-direction: row;
    align-items: center;
    margin: 10px;
}