.submitButton {
  width: 100px;
}

h2 {
  margin: 10px;
}

.navContainer {
  width: 100%;
  background-color: #ffbf9a;
  height: 80px;
  position: relative;
  top: 0;
  display: flex;
  justify-content: center;
}

nav {
  display: flex;
  align-items: center;
}

.navBar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 80px;
  width: 1200px;
  color: #720072;
  font-family: "Leelawadee UI";
  font-size: large;
  font-weight: bold;
}

.titleContainer {
  position: relative;
  width: 100%;
  border: #720072 solid;
  border-left-style: none;
  border-right-style: none;
  text-transform: uppercase;
}

.pageTitle {
  display: flex;
  justify-content: center;
  font-family: "Leelawadee UI";
  font-size: large;
  font-weight: bold;
  color: #720072;
}

.logoContainer {
  display: flex;
  align-items: center;
}

.navButton, .navButtonActive {
  color: #720072;
  font-family: "Leelawadee UI";
  font-size: large;
  font-weight: bold;
  margin-left: 20px;
}

.navButton {
  text-decoration: none;
}

.navButtonActive {
  text-decoration: underline;
}

.puzzledLogo, .accountButtonImage {
  width: 50px;
  height: 50px;
  margin: 10px;
}

.puzzledName {
  color: #720072;
  font-family: "Leelawadee UI";
  font-size: x-large;
  font-weight: bold;
  text-decoration: none;
}

.pageContainer {
  display: flex;
  align-items: center;
  flex-direction: column;
}

.formContainer {
  display: flex;
  flex-direction: column;
}

.puzzleImage {
  max-width: 60%;
  border: #720072 solid 3px;
  border-radius: 10px;
  margin: 20px;
}

h3 {
  color: #720072;
  text-transform: uppercase;
  margin: 10px;
}

@media (prefers-reduced-motion: no-preference) {
}
