.regularButton, .deleteButton {
    display: flex;
    justify-content: center;
    background-color: #ffceb5;
    font-family: "Leelawadee UI";
    font-weight: bold;
    font-size: large;
    color: #720072;
    text-transform: uppercase;
    border-radius: 10px;
    margin: 10px;
    width: 250px;
}

.regularButton {
    border: #ffbf9a solid 3px;
}

.deleteButton {
    border: crimson solid 3px;
}

.regularButton:disabled {
    background-color: lightgray;
    color: dimgray;
    border-color: dimgray;
}
